
<div class="mx-auto p-5 max-w-5xl">
  <table class=" border-b border-t w-full rounded-md">
    <tbody class="bg-gray-100">
      <tr>
        <th class="px-5 text-left py-3">Product</th>
        <th class="px-5 text-left py-3">Class</th>
        <th class="px-5 text-left py-3">Price(credits)</th>
        <th class="px-5 text-left py-3">Quantity</th>
        <th class="px-5 text-left py-3">Extended price</th>
        <th class="px-5 text-left py-3"></th>
      </tr>
    </tbody>

    <tbody>
      <tr class="even:bg-gray-50 hover:bg-gray-100">
        <td class="px-5 py-3">At-At</td>
        <td>Assault walker</td>
        <td>54.422</td>
        <td>
          <select>
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
        </td>
        <td>45.34</td>
        <td>
          <button type="button" class=" text-red-500 font-medium px-5 py-2 hover:underline">Delete</button>
        </td>
      </tr>

      <tr class="even:bg-gray-50 hover:bg-gray-100">
        <td class="px-5 py-3">At-At</td>
        <td>Assault walker</td>
        <td>54.422</td>
        <td>
          <select>
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
        </td>
        <td>45.34</td>
        <td>
          <button type="button" class=" text-red-500 font-medium px-5 py-2 hover:underline">Delete</button>
        </td>
      </tr>


      <tr class="even:bg-gray-50 hover:bg-gray-100">
        <td class="px-5 py-3">At-At</td>
        <td>Assault walker</td>
        <td>54.422</td>
        <td>
          <select>
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
        </td>
        <td>45.34</td>
        <td>
          <button type="button" class=" text-red-500 font-medium px-5 py-2 hover:underline">Delete</button>
        </td>
      </tr>

      <tr class="even:bg-gray-50 hover:bg-gray-100">
        <td class="px-5 py-3">At-At</td>
        <td>Assault walker</td>
        <td>54.422</td>
        <td>
          <select>
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
        </td>
        <td>45.34</td>
        <td>
          <button type="button" class=" text-red-500 font-medium px-5 py-2 hover:underline">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>


  <div class="mx-auto max-w-xl mt-10 flex flex-col gap-y-10 border rounded-lg p-7">
    <h2 class="text-3xl">Total</h2>
    <ul class="flex flex-col gap-y-2">
      <li class="flex">
        <div class="w-[40%]">Name</div>
        <div class="w-[60%]">Sand broker</div>
      </li>
      <li class="flex">
        <div class="w-[40%]">Name</div>
        <div class="w-[60%]">Sand broker</div>
      </li>
      <li class="flex">
        <div class="w-[40%]">Name</div>
        <div class="w-[60%]">Sand broker</div>
      </li>
    </ul>
  </div>

</div>
