<div class="flex gap-10">
    <div class=" size-96">
      <img
        class="rounded-xl border border-slate-400 shadow-2xl shadow-slate-900"
        src="Lamberghini-Cover-Song-Punjabi-2019-20190401160344-500x500.jpg" />
    </div>

    <section class="flex flex-col justify-between">
        <div>
          <h2 class="text-3xl">CattyBoard Top 100 Single Charts (11.06.36)</h2>
          <div class="text-gray-300 mt-3">
            <p>Unknown Artist</p>
            <p>2016 . Charts . 100 songs</p>
          </div>
        </div>

        <ul class="flex gap-x-4 text-md cursor-pointer">
          <li class="border px-5 py-1 rounded-2xl hover:bg-slate-500">
            <i class="fa fa-play mr-2"></i>
            <span>Play all</span></li>
          <li class="border px-5 py-1 rounded-2xl hover:bg-slate-500">
            <i class="fa fa-plus mr-2"></i>
            <span>Add to</span>
          </li>
          <li class="border px-5 py-1 rounded-2xl hover:bg-slate-500">
            <i class="fa fa-ellipsis-h mr-2"></i>
            <span>More</span>
          </li>
        </ul>
    </section>
</div>
